.container {
  display: flex;
  width: 80%;
  left: 10%;
}
.container .new-tweet {
  width: 80%;
  display: block;
}
.container .new-tweet #tweetform {
  display: flex;
  flex-direction: column;
}
.container .new-tweet #tweet-text {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  padding: 12px 20px 0px 10px;
  background: transparent;
  resize: none;
  line-height: 90%;
  overflow-y: hidden;
}
.container .new-tweet #tweet-text input:focus, .container .new-tweet textarea:focus, .container .new-tweet select:focus {
  outline: none;
}
.container .new-tweet #submitTweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px 10px 0px;
}
.container .new-tweet #submitTweet #tweetButton {
  background-color: #4056a1;
  font-family: "Bungee", sans-serif;
  color: white;
  border: none;
}
.container .new-tweet #submitTweet #counterPositive {
  color: black;
}
.container .new-tweet #submitTweet #counterNegative {
  color: red;
}

#error {
  background-color: red;
  font-size: large;
  width: fit-content;
  position: absolute;
  top: 3em;
  display: none;
}

@media screen and (min-width: 1024px) {
  .container {
    float: left;
    position: relative;
    width: 50%;
    left: 20%;
  }
}
