#tweets-container {
  width:80%;
}

.tweet-container {
  width: 100%;
  display:flex;
  justify-content: center;
  border: 2px black solid;
  margin-bottom: 1em;
}

.tweet-container:hover {
  box-shadow: 5px 5px #6b80c788;
}

article img {
  height: 70px;
  width: 70px;
}

article.tweet {
  display:flex;
  flex-direction: column;
}

article.tweet header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

/* article.tweet div.tweet-content{
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
} */

article.tweet header div {
  display:flex;
  flex-direction: row;
}

.tweet {
  width: 90%;
  display:flex;
  flex-direction:row;
}

article.tweet footer {
  border-top: 2px solid black;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:50px;
  font-size: initial;
}

article.tweet footer div.buttons button {
  background: none;
  border: none;
  padding: 0;
  color:#4056a1;
}

article.tweet footer div.buttons button:hover{
  color: #e2ce15;
}