#tweets-container {
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
}
#tweets-container article {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  border: 2px black solid;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 5px 1em 5px 1em;
}
#tweets-container article img {
  height: 70px;
  width: 70px;
}
#tweets-container article header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#tweets-container article header div {
  display: flex;
  flex-direction: row;
}
#tweets-container article .tweet-content {
  word-break: break-word;
}
#tweets-container article footer {
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: initial;
}
#tweets-container article footer .buttons button {
  background: none;
  border: none;
  padding: 0;
  color: #4056a1;
}
#tweets-container article footer .buttons button:hover {
  color: #e2ce15;
}
#tweets-container article .tweet {
  width: 90%;
  display: flex;
  flex-direction: row;
}
#tweets-container article:hover {
  box-shadow: 5px 5px #6b80c788;
}
